{# templates/paragraph--5050-layout.html.twig #}
<div class="paragraphs-5050">
  <div class="paragraph-image">
    {{ content.field_image }}
  </div>
  <div class="paragraph-text">
    {{ content.field_text }}
  </div>
</div>
